:root {
	--container-width: 1230px;
	--container-padding: 15px;

	--font-main: 'Inter', sans-serif;
	--font-secondary: 'Poppins', sans-serif;
	--font-accent: 'Space Grotesk', sans-serif;


	--page-bg: #E2E4E3;
	--main-bg: rgba(255, 171, 0, 0.64);
	--main-text-color: #141718;
	--accent: #377DFF;
	--white-accent: #FEFEFE;
	--grey-accent: #E8ECEF;
	--text-color-yellow: #FFAB00;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}