


    .best-sellers {
    padding: 48px 0 100px 0;
    @include tablet {
        padding: 40px 0;
    }
    a{
        color: var(--main-text-color);
    }
}


.best-sellers__container{
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    display: flex; 
    gap: 48px;
    padding: 0 15px;
    flex-direction: column;
    @include tablet-land {
        padding: 0 32px;
    }
    @include tablet {
        align-items: center;
        gap: 40px;
    }
    @include mobile-l {
        padding: 0 32px;
        gap: 16px;       
    }
    @include mobile-s {
        padding: 0 24px;
    }
}

.best-sellers__title{
    font-family: var(--font-secondary);
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    @include tablet-land {
        
    }
    @include mobile-l {
        font-size: 34px;
    }
}

.best-sellers__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 262px));
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
    @media(max-width:820px){
        column-gap: 12px;
        row-gap: 24px;
    }
    @include tablet {
        grid-template-columns: repeat(2, minmax(150px, 262px));
    }
    @include mobile-l {
        max-width: 100%;
        column-gap: 8px;
        row-gap: 16px;
    }
    @include mobile-s {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 12px;
        row-gap: 24px;
    }
}


.best-sellers__item-card {
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
    max-width: 262px; 
    min-width: 0;
    gap: 12px;  
    transition: all 0.3s ease;
    @include tablet {
        max-width:100%;
    }
    @include mobile-l {

    }
}

.best-sellers__img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    @include mobile-s {
       
    }
}

.best-sellers__item-card:hover{
    transform: scale(1.05);
}

// ------------------------------

.best-sellers__main {
    position: relative;
    margin-bottom: 12px;
}

.best-sellers__badge {
    width: 67px;
    height: 24px;

    font-family: var(--font-main);
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    border-radius: 4px;
    padding: 4px 14px;
    background-color: #fff;

    position: absolute;
    top: 5%;
    left: 5%;
}

.best-sellers__desc {
    display: flex;
    flex-direction: column;
    gap: 4px;
    @include mobile-l {
        height: 68px;
    }
}


.best-sellers__item-rating {
    width: 88px;
    height: 16px;
}

.best-sellers__item-name {
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0;
    @include tablet-land {
        font-size: 14px;
        line-height: 22.75px;
    }
    @include mobile-l {
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0px;
    }
}



.best-sellers__price {
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
}


.item--elipsis {
    @include tablet {
        br{
            display:none;
        }
    }
    @include mobile-l {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
    
            br {
                display: none;
            }
        }

}