


.features {
  padding:40px 0;
  @include mobile-l {
    padding: 32px 0;
    background-color: #fff;
  }
}

.features__container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  @include tablet-land {
    padding: 0 32px;
  }
  @include mobile-l {
    width: 100%;
    padding: 0 32px;
  }
  @include mobile-s {
    padding: 0 24px;
  }
}

.features__list {
  display: flex;
  gap: 24px;
  @include tablet-land {
    flex-wrap: wrap;
    justify-content: center;
  }
  @include mobile-l {
    flex-wrap: wrap;
    gap: 8px;
  }
}

.feature__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 262px;
    height: 220px;
    padding: 48px 32px;
    background-color: #F3F5F7;
    @include tablet-land {
      max-width: 350px;
      flex: 1 1 calc(50% - 12px);
    }
    @include mobile-l {
      width: calc(50% - 4px);
      background-color: #F3F5F7;
      height: auto;
      padding: 32px 16px;
    }
    @include mobile-s {
      padding: 16px;
    }

    img{
      width: 48px;
      @include mobile-l {
        width: 32px;
      }
    }

    h3{
        font-family: var(--font-secondary);
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0px;
        @include tablet-land {
          font-size:clamp(16px, 2.5vw, 20px);
        }
        @include mobile-l {
          font-weight: 700;
          font-size: 14px;
          line-height: 1;
          letter-spacing: 0px;
        }
        @include mobile-s {
          font-size: 12px;           
        }
      }
    
    span{
        color: #6C7275;
        @include tablet {
            font-size: clamp(14px, 2.5vw, 16px);
        }
        @include mobile-l {
          font-size: 14px;
          line-height: 22px;
        }
        @include mobile-s {
          font-size: 12px;
        }
    }

    .feature__desc{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

