

.hero{
	height: 820px;
	padding: 222px 0 346px 0;
	background-image: url('../../img/header/hero.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding:32px 0;
	@include tablet-land {
		background-position: 56% center;		
		height: 490px;
	}
	@include tablet {
		height: 420px;
	}
	@media(max-width:700px){
		background-position: 41% center;
	}
	@include mobile-l {
		height: 690px;
		padding: 40px 0;
		background-image: url('../../img/header/hero-mob.jpg');
	}
	@include mobile-s {
		
	}
}

.hero__container {
	max-width: 1120px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	padding: 0 32px;
	@include tablet-land {

	}
	@include mobile-l {
		justify-content: center;
		align-items: center;
	}
	@include mobile {
		justify-content: center;
		align-items: center;
		padding: 0 28px
	}
}

.hero__content{	
	width: 100%;
	max-width: 538px;
	display: flex;
	flex-direction: column;
	gap: 28px;
	margin-top: 7%;
	@include tablet-land {
		max-width: 400px;
		align-items: center;
		margin-top: 7%;
		margin-right: 4%;
		gap: 14px;
	}
	@include tablet {
		max-width: 380px;
		margin-top: 5%;
		margin-right: 0;
	}
	@media(max-width:700px){
		max-width: clamp(260px, 55vw, 380px);
		margin-top: 0;
		margin-right: 0;
	}
	@media(max-width:490px) {
		margin-top: 11%;
	}
	@include mobile-l {
		max-width: 311px;
	}
	@include mobile {		
		justify-content: center;
		align-items: center;
		gap: 16px;
	}

	.hero__textblock {
		display: flex;
		flex-direction: column;
		gap: 8px;
		@include tablet-land {
			align-items: center;
		}
		@include mobile-l {
			align-items: center;
		}

		h1 {
			font-family: var(--font-secondary);
			font-weight: 500;
			font-size: 80px;
			line-height: 84px;
			letter-spacing: -3px;
			color: var(--main-text-color);
			@include tablet-land {				
				font-size: 56px;	
				line-height: 1.1;
			}
			@media(max-width:820px){
				
			}
			@media(max-width:700px){
				font-size: clamp(43px, 8.5vw, 56px);
			}
			@include mobile-l {
				font-size: 40px;
				line-height: 44px;
				letter-spacing: -0.4px;
				text-align: center;
			}
			@include mobile-s {
				font-size: 38px;
			}
			span{
				color: #377DFF;
			}
		}
	
		p {
			font-family: var(--font-main);
			font-weight: 400;
			font-size: 20px;		
			color: var(--main-text-color);
			@media(max-width:700px){			
				font-size: clamp(14px, 3vw, 20px);
				white-space: nowrap;
			}
			@include mobile-l {
				font-size: 16px;
				line-height: 24px;
			}
			@include mobile-s {
				font-size: 15px;
			}
		}
	}

	.hero__btn-wrapper{

	}

	button {
		font-family: var(--font-main);
		font-weight: 500;
		font-size: 18px;

		padding: 18px 56px;
		border-radius: 12px;

		background-color: var(--main-text-color);
		color: white;
		transition: transform 0.1s ease-out;
		@media(max-width:700px){
			font-size: clamp(14px, 3vw, 18px);
			padding: clamp(14px, 3vw, 18px) clamp(42px, 5vw, 56px);
		}	
		@include mobile-l {
			font-size: 14px;
			line-height: 24px;
			padding: 12px 56px;
		}
		@include mobile-s {
			padding: 12px 40px;
		}
	}

	button:active {
		transform: scale(0.97);
	}
}





