


.new-arrivals__container{
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    @include tablet-land {
        padding: 0 32px;
    }
    @include tablet {
        align-items: center;
        gap: 40px;
    }
    @include mobile-l {
        display: flex;
        flex-direction: column;
    }   
    @include mobile-s {
        padding: 0 24px;
    }
}

.new-arrivals {
    padding: 48px 0;    
    @include tablet {
        padding:  40px 0;
    }
    
    .new-arrivals__title{
        font-family: var(--font-secondary);
        font-weight: 500;
        font-size: 40px;
        line-height: 44px;
        letter-spacing: -0.4px;
        @include tablet {
            text-align: center;
        }
        @include mobile-l {
            font-size: 34px;
            line-height: 38px;
            letter-spacing: -0.6px;
        }
    }
}

// SWIPER SLIDER

.new-arrivals__slider {
    width: 100%;    
}

.slider__card.swiper-slide{
    width: 262px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    @include mobile-l {
        max-width: 231px;
    }   
}


.slider__main {
    position: relative;

    .slider__badge{
        width: 67px;
        height: 24px;
        padding: 4px 14px;

        font-family: var(--font-main);
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
   
        background-color: #fff;
        position: absolute;
        top: 16px;
        left:16px;
    }

    .slider__like-btn{
        width: 32px;
        height: 32px;
        position: absolute;       
        top:16px;
        right:16px;
        transition: transform 0.2s ease, opacity 0.2s ease;
        cursor: pointer;
        @include mobile-l {
            width: 48px;
            height: 48px;
            top: 13px;
            right: 10px;
        }
    }

    .slider__like-btn.is-animating {
        transform: scale(1.2);
        opacity: 0.6;
    }
    
    .slider__add-btn {
        font-family: var(--font-main);
        font-size: 16px;
        line-height: 28px;
        list-style: -0.4px;

        color: #FEFEFE;
        background-color: var(--main-text-color);

        padding: 9px 74px;
        border-radius: 8px;

        position: absolute;
        bottom: 16px;
        left: 16px;

        transition: transform 0.1s ease-out;
        @include mobile-l {
            padding: 6px 60px;
        }
    }

    .slider__add-btn:active{
        transform: scale(0.97);
    }
}

.slider__desc {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .slider__item-rating{
        width: 88px;
        height: 16px;
    }
    .slider-item-name {
        font-family: var(--font-main);
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0;
    }
    .price {
        font-family: var(--font-main);
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0;
    }
}





