


.newsletter {
  background-image: url('../../img/newsletter/Paste image@2x.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #E2E4E3;
  height: 360px;
  padding-top: 101px;
  padding-bottom: 93px;
  @include tablet-land {
    background-position: 27% center;
    background-size: 290%;
  }
  @media(max-width:556px){
    background-image:none;
    padding: 95px 0;
  }
  @include mobile-l {
    height: auto;
  }
  @include mobile-s {
    padding:80px 0;
  }
}

.newsletter__container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 0 32px;
  @include mobile-s {
    padding: 0 24px;
  }
}

.newsletter__cta {
  max-width: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 32px; 
  @include tablet-land {
    height: 100%;
  }
  @include mobile-l {
    align-items: center;
    justify-content: center;
  }
}

.cta__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  @include tablet {
    text-align: center;
  }

  h3 {
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.4px;
    color: #000;
    @include tablet {
      font-size: clamp(28px, 5vw, 38px)

    }
    @include mobile-l {
      font-size: 28px;
      line-height: 34px;
      letter-spacing: -0.6px;
      text-align: center;
    }
  }

  p{
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 18px;
    color: #000;
    @include tablet-land {

    }
    @include tablet {
        display: block;
        max-width: 80%;
        font-size:  clamp(14px, 2.5vw, 18px);
        
    }
    @include mobile-l {
        font-family: var(--font-main);
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
    }
  } 
}

.newsletter-form__wrapper{
  padding:12px 0;
  border-bottom: 1px solid rgba(108, 114, 117, 0.5);
}

.newsletter-form{
    max-width: 488px;
    width: 100%;
    display: flex;
    gap: 8px;
    @include mobile-l {
      max-width: 311px;
    }
    input {
      background-color: transparent;
      color: #6C7275;

      font-family: var(--font-main);
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: -0.4px;

      width: 396px;
      height: 28px; 
      @include tablet-land {
        width:auto;
      }
      @include tablet {

      }
      @include mobile-l {
          width: 100%;
      }
    }

    button{
      font-family: inherit;
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: -0.4px;
      color: #6C7275;
    }
    
}

 